setuptools==41.0.0
sklearn
argparse
funcy
Cython
numpy==1.17.5
pysparkling
python-json-logger
scipy
torch==1.4.0
torchvision==0.5.0
pillow<7
dataclasses
onnx
onnx-simplifier
nbval
pylint
pytest
opencv-python
thop
matplotlib
pycocotools-fix
tensorboard
six==1.12.0
