setuptools==41.0.0
sklearn
argparse
funcy
Cython
numpy==1.17.5
pysparkling
python-json-logger
scipy
torch==1.4.0
torchvision==0.5.0
pillow<7
dataclasses
onnx
onnx-simplifier
nbval
pylint
pytest
opencv-python
thop
matplotlib==3.2.1
pycocotools-fix==2.0.0.1
tensorboard
six==1.12.0
boto3
pandas
